.work {
	margin:0 auto;
	width: 980px;
}
.logo{
	float: left;
	width: 40%;
}
.banner{
	float: left;
	width: 60%;
}

.img{
	max-width: 100%;
}


.main-menu{
	clear: both;
	background: #999;
	width: 100%;
	float:left;
}

.main-menu ul{
	margin: 0;
	padding: 0;
}

.main-menu ul li{
	float: left;
	list-style: none;
}

.main-menu ul li a{
	text-decoration: none;
	color: #000;
	padding: 10px;
	display: block;
}

.main-menu ul li a:hover{
	background: red;
	color: #fff;
}


.footer {
	background: #999999;
	overflow: hidden;
	padding: 10px;
}	
	
.footer > p {
	line-height: 20px;
	margin: 0;
}